/* Body Styles */

body {
    color: white;
    background-color: black;
    -webkit-animation: fadein 1.5s;
    animation: fadein 1.5s;
    font-family:'Patua One', "Times New Roman";
    overflow-x: hidden;
}

header {
    margin: auto;
    text-align: center;
}

p {
    max-width: 800px;
    width: 85%;
    text-align: center;
    align-items: center;
    margin: auto;
}

section {
    text-align: center;
}

.headers {
    text-align: center;
    font-size: 22pt;
}

.paragraphs {
    text-align: justify;
    margin: auto;
    max-width: 1000px;
    margin-top: 2rem;
    font-size: 16pt;
}

/* Header Section */

#main-header {
    text-align: center;
    font-size: 28pt;
}

#navbar {
    background: linear-gradient(to right, black, #63380c, black);
    overflow: hidden;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16pt;
    font-family:'Patua One', cursive;
}

#navbar a:hover {
    animation: blinker 1.5s linear infinite;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
}

li {
    display: inline-block;
}

/* Grinder Section */

#animation-pause {
    margin: 1rem;
    text-align: center;
}

input[type='button']{
    background: linear-gradient(to right, black, #63380c, black);
    color: white;
    border-radius: 5px;
    font-size: 10pt;
    padding: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#test {
    display: none;
    margin: auto;
    width: 35%;
    height: 35%;
	animation: flash linear 2s infinite;
}

/* Art Section */
#art {
    margin: auto;
    width: 90%;
}

#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#image-container figure img {
    width: 80%;
}

/* Author Section */

#author-image {
    width: 30%;
}

/* Copyright and Legal Section */

#copyright-and-legal {
    text-align: center;
    margin: auto;
}

hr {
    max-width: 50%;
}

.policies {
    color: white;
}

.policies:hover {
    animation: blinker 1.5s linear infinite;
}

.policies:visited {
    color: red;
}

/* Animations */
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}